parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Filament\\\\Schemas\\\\Contracts\\\\HasSchemas&Livewire\\\\Component\\:\\:\\$data\\.$#"
			count: 3
			path: src/Forms/Components/ImageCaptionUpload.php
